<h1><%= _('Editing Inventory Record') %></h1>

<%= render 'form', inventory: @inventory %>

<%= link_to _('Show'), @inventory %> |
<%= link_to _('Back'), inventories_path %>

<script type="text/javascript">



