<h1><%= _('New Inventory Record') %></h1>

<%= render 'form', inventory: @inventory %>

<%= link_to _('<i class="fa-solid fa-chevron-left"></i> Go back'), inventories_path, :class => "btn btn-primary mt-3" %>
