<h1><%= _("New Production Order") %></h1>

<%= render 'form', production: @production %>

<%= link_to _('<i class="fa-solid fa-chevron-left"></i> Go back'), productions_path, :class => "btn btn-primary mt-3" %>
