
  <% @permissions.each_with_index do |n, index| %>
    <% n.each do |value| %>
        <div class="checkbox">
            <%= check_box_tag "permission[#{index}]", true, @tags %>
            <%= label_tag "permission[#{index}]", value[1] %>
        </div>
    <% end %>
  <% end %>

  