/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*// Custom bootstrap variables must be set or imported *before* bootstrap.*/


 /* Add a black background color to the top navigation */
.vertical-menu {
  width: 200px;
  display: inline-block;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 16px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}

.main-content {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.field {
    display: inline-block;
}

.table{
  border-collapse: collapse;
  margin: 40px;
}

.table th, td{  
  padding: 0.25rem;
  border-bottom: 1px solid #ddd;
  border-top: 0;
  box-sizing: 0;
}

.table tr:hover:not(.active){background-color: lightgrey;}

.marginRight {
  margin: 40px;
}

.marginLeftOnly {
  margin-left: 40px;
}

i {
  font-size: 20px;
}

@media (max-width: 1195px) {
  
  nav#sidebarMenu {
    position: absolute;
    z-index: 3;
  }

}

.hren {
  right: 0;
}

#custombutton.btn {
  padding: 0.35rem 0.5rem;
  
}

.remove_fields {
  margin-top: -5px
}

.searchtag {
  margin-top: -5px
}

.vl {
  border-left: 6px solid green;
  height: 500px;
}

.jumbomax.jumbotron {
  max-width: 100%;
  border-radius: 0;
}

.searcheight {
  height: calc(1.9em + 0.75rem + 2px);
}

.signinblue {
  background-color: coral;
}

.fielddown {
  margin-top: 5px;
}

/* A sidebar for Tools */

.custom-sidebar {
  height: 300px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #778899;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 80px;
}

.custom-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #808080;
  display: block;
  transition: 0.3s;
}

.custom-sidebar a:hover {
  color: #f1f1f1;
}

.custom-sidebar .closebtn {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 20px;
  margin-left: 50px;
  color: white;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #778899;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  right: 0;
  top: 90px;
}

.openbtn:hover {
  background-color: #778899;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .custom-sidebar {padding-top: 15px;}
  .custom-sidebar a {font-size: 18px;}
}








