/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding:  0;
    margin:  0 0 0 40px;
}

 .align_right {
     text-align: right;
     padding-left: 20px;
 }

 .align_center {
     text-align: center;
     padding: 0 10px 0 10px;
 }

 .align_left {
     text-align: left;
     padding-right: 20px;
 }

tr:nth-child(even) {
     background-color: #f7f7f7;
}

input.greyed_out
{
    background-color: #f3f3f3;
}

a.add_fields, a.button, input[type="submit"] {
background-color: #067aff;
padding: 2px 5px;
color: #fff;
margin-bottom: 0px;
text-decoration: none;
border-radius: 5px;
border: 1px solid;
display: inline-block;
position: relative;
}

a.blue:hover {
    background-color: white;
    color: #067aff;
    border: 1px solid #067aff;
}

a.nav_button {
    padding: 25px 15px 10px 15px;
    background-color: #444;
    font-size: 14px;
    margin-right: -5px;
    border-radius: 0px 0px 10px 10px;
}

a.nav_button:hover {
    background-color: #d32757;
}


a.big_button {
    padding: 5px 9px; 
}

a.add_fields:hover, .big_button:hover {
    background-color: #fff; 
    color: #067aff;   
    }

a.green, submit.green, input[type="submit"] {
    background-color: #27d37c;
    border: 1px solid #27d37c;
    color: white;
}

a.green:hover, submit.green:hover, input[type="submit"]:hover {
    background-color: white;
    color: #27d37c;
}

input[type="submit"]{
    padding: 5px 10px 5px 9px;
    font-weight: 600;
}

a.red {
    background-color: #ac3040;
    border: 1px solid #ac3040;
    color: white;
}

a.red {
    background-color: white;
    color: #ac3040;
}

a.remove_fields{
background-color: red;
padding: 1px 4px;
color: #fff;
margin-bottom: 5px;
text-decoration: none;
border-radius: 5px;
border: 1px solid red;
display: inline-block;
}

a.remove_fields:hover{
background-color: #fff;
color: red;
}

.field, .inline
{
    display: inline-block;
}

select {
    padding: 2px 0px 1px 0px;
}

.bold
{
    font-weight: 600;
}

th {
    padding-right:  4px;
    padding-bottom: 5px;
}

td {
  padding: 3px 4px;
  line-height:  21px;
}

label {
    font-size: 11px;
}

.indent {
    margin-left:  23px;
    margin-bottom:  20px;
}

.pad-bottom {
    padding-bottom: 30px;
}

.hidden {
    display: none;
}

a.show, a.edit, a.destroy {
    padding:  1px 4px 3px 3px;
    margin-botton: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
}

a.show {
    background-color: #067aff;
    border: solid 2px #067aff;
}

a.edit {
    background-color: #27d37c;
    border: solid 2px #27d37c;
}

a.destroy {
    background-color: red;
    border: solid 2px red;
}

a.show:hover {
    color: #067aff;
    background-color: #fff;
}

a.edit:hover {
    color: #27d37c;
    background-color: #fff;
}

a.destroy:hover {
    color: red;
    background-color: #fff;
}



