/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding:  0;
    margin:  0 0 0 0px;
    display: flex;
}

 .align_right {
     text-align: right;
 }

 .align_center {
     text-align: center;
 }

 .align_left {
     text-align: left;
 }

tr:nth-child(even) {
     background-color: #f7f7f7;
}

input.greyed_out
{
    background-color: #f3f3f3;
}

.field, .inline
{
    display: inline-block;
}

select {
    padding: 2px 0px 1px 0px;
}

.bold
{
    font-weight: 600;
}

th {
   padding-bottom: 5px;
}

td {
    padding: 6px 2px;
    line-height: 20px;
    
}

th, td {
    padding-right: 1rem;
}

.keyword {
    min-height: 44px;
    font-size: .9rem;
}

label {
    font-size: 11px;
}

.alert {
    position: fixed;
    top: 0px;
    border-radius: 0;
    float: left;
    margin-left: -2rem;
    padding-left: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    width: 100%;
}

.alert-notice {
    background: #a1c0e4;
}

.role-label {
    font-size: 17px;
    vertical-align: top;
    padding-top: 2px;
}

.indent {
    margin-left:  23px;
    margin-bottom:  20px;
}

.pad-bottom {
    padding-bottom: 30px;
}

.hidden {
    display: none;
}

div.field {
   vertical-align: top;
}

#lang_switcher {
    text-align: center;
    padding-top: 1rem;
    z-index: 9999;
}

a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
    background-color: #c9c9c966!important;
}

a.bg-success:focus, a.bg-success:hover, button.bg-success:focus, button.bg-success:hover {
    background-color: #b8db76!important;
}

#login_links {
    position: absolute;
    right: 0px;
    padding: 1.6rem 2rem;
    z-index: 9999;
}

.navbar {
    display:  inline-block;
    vertical-align: top;
    padding: 0 !important;
    height: 100vh;
    position: fixed;
}

.navbar-expand-lg {
    max-width: 12.3rem;
    z-index: 999;
}

.navbar-expand-lg>.container-fluid {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    padding-left: 0;
}

ul {
    margin-bottom: 0rem;
    padding-left: 0;
}

.collapse> {
    padding-bottom: 0px !important
}

.dropdown-menu.show {
    display: block;
    left: 12.2rem;
    padding: 0;
    top: -0.1rem;
}

.dropdown-toggle::after {    
     float: right;
     margin-top: .5rem; 
}

.choices {
    z-index: 99;
}

.choices__input {
    width: auto !important;
}

#main {
    display: inline-block;
    flex-flow: row;
    flex-grow: 1;
    margin-left: 14.3rem;
}

#notice {
    margin: 0;
    margin-left: -2rem;
    padding-left: 2rem;
    float: left;
    width: calc(100% + 2rem);
    background-color: #44e30a40;
}

.login .field {
    vertical-align: top;
}

.logo {
    height: 4.2rem;
    margin-bottom: 0.8rem;
    padding-left: 1.6rem;
    margin-top: 1rem;
}

.nav {
  width: 12.3rem;
}

td.nav {
    padding: 0px;
    margin: 0px;
    border: none;
}

:root {
    --primary: #4384cf !important;
    --secondary: #57ad7e !important;
    --success: #9fcc4a !important;
    --info: #f51202 !important;
    --warning: #f5c102 !important;
    --danger: #f51202 !important;    
}

.bg-primary{
    background-color: #4384cf !important;
}

.text-primary{
   color: #4384cf !important;
}

.btn-primary{
    background-color: #4384cf !important;
    border-color: #4384cf !important;
}

.bg-secondary{
    background-color: #57ad7e !important;
}

.text-secondary{
   color: #57ad7e !important;
}

.btn-secondary{
    background-color: #57ad7e !important;
    border-color: #57ad7e !important;
}

.bg-success{
    background-color: #9fcc4a !important;
}

.text-success{
   color: #9fcc4a !important;
}

.btn-success{
    background-color: #9fcc4a !important;
    border-color: #9fcc4a !important;
}

.bg-info{
    background-color: #9cc7af !important;
}

.text-info{
   color: #9cc7af !important;
}

.btn-info{
    background-color: #9cc7af !important;
    border-color: #9cc7af !important;
}

.bg-warning{
    background-color: #f5c102 !important;
}

.text-warning{
   color: #f5c102 !important;
}

.btn-warning{
    background-color: #f5c102 !important;
    border-color: #f5c102 !important;
}

.bg-danger{
    background-color: #f51202 !important;
}

.text-danger{
   color: #f51202 !important;
}

.btn-danger{
    background-color: #f51202 !important;
    border-color: #f51202 !important;
}

.bg-light{
    background-color: #dde0e3 !important;
}

.btn-primary, .btn-secondary, .btn-warning, .btn-success {
    color: #ffffff !important;
}

.btn:hover {
    opacity: .8;
}

.btn-small {
    font-size: smaller;
    padding: 2px 8px;
    vertical-align: bottom;
}


a.text-light, a.text-dark{
height: 100%;
width: 100%;
border-bottom: dotted 0.1rem;
}

a.bg-info:focus, a.bg-info:hover, button.bg-info:focus, button.bg-info:hover {
    background-color: #b3d9c4 !important;
}

.dropdown-menu {
    border-radius: 0;
    font-size: .8rem;
}

a.nav {
    padding: 1.3rem 1rem 1.3rem 1.3rem !important
}

a.nav ::before {
    padding-right: 9px;
    position: relative;
    top: 2px;
    font-size: 16px;
}

a.text-light:focus, a.text-light:hover {
    color: #ffffff !important;
    background: #ffffff1c; 
    text-decoration: none;
}

a.text-dark:focus, a.text-dark:hover {
    color: #000 !important;
    background: #0000001c;
    text-decoration: none;
}
 
a:hover {
background-color: transparent;
}



h1 {
    font-size: 2.5rem;
    font-family: tahoma;
    font-weight: 800;
    line-height: 1.82;
    color: #5b7c6a;
    background: #31496614;
    padding: 1.05rem 2rem;
    margin-bottom: 1.8rem;
    position: relative;
    left: -2rem;
    width: calc(100% + 2rem)
    }

h2 {
    font-size: 1.8rem;
    font-family: tahoma;
    font-weight: 600;
    line-height: 1.5;
    color: #a5a5a5;
}

h4 {
    font-size: 1.2rem;
    font-family: tahoma;
    font-weight: 600;
    line-height: 1.5;
    color: #a5a5a5;
}

.form-control-lg {
    width: 1.4rem;
    height: 1.4rem;
}

.remove_fields {
    position: relative;
}

.input-group-text {
    border: 0px;
}

// Breakpoints //

@media only screen and (max-width: 992px) {
    .navbar-brand {
        display: none;
    }

    #main {
        margin-left: 2.5rem;
    }

    .navbar {
        height: auto;
    }

    h1 {
        padding: 1.05rem 1rem 1rem 7.5rem;
        margin-bottom: 1.8rem;
        z-index: 1;
    }

    .navbar-light .navbar-toggler {
        float: left;
        position: absolute;
        font-size: 1rem;
        top: 2.5rem;
        left: 1.5rem;
        background-color: #5b7c6a;
        
    }

    .navbar-light .navbar-toggler:hover,  .navbar-light .navbar-toggler:active  {
        background-color: #57ad7e ;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: none;
        color: white;
        position: relative;
        top: .3rem;
    }

    .navbar {
        z-index: 999999;
    }

    .navbar-collapse {
        position: relative;
        top: 6.5rem;
    }

    nav.bg-light {
        background-color: transparent !important;
    }
}

@media only screen and (max-width: 576px) {
    #lang_switcher {
        position: fixed;
        display: block;
        text-align: center;
        padding: 0.3rem 2rem;
        z-index: 9999;
        background: lightgray;
        width: 100%;
    }
    
    h1 {
        padding: 2.05rem 1rem 1rem 7.5rem;
    }

    .navbar-light .navbar-toggler {
        top: 3.5rem;
    }

    .navbar-collapse {
        top: 7.5rem;
    }
}

.input-group-sm>.custom-select, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
    padding: 0.25rem 0.5rem;
    font-size: .9rem;
    line-height: 1rem;
    border-radius: 0 0.5rem 0.5rem 0rem;
}