<h1>Editing Inventory Record</h1>

<%= render 'form', inventory_record: @inventory_record %>

<%= link_to 'Show', @inventory_record %> |
<%= link_to 'Back', inventory_records_path %>

<script type="text/javascript">



