<!DOCTYPE html>
<html>
  <head>
    <style>
        .receipt_table, .receipt_table td {
            border: solid 1px black; 
            border-collapse: collapse; 
            background-color: white;
        }
    </style>
</head>
  <body>
    <%= yield %>
  </body>
</html>